/* Home file */
body {
    margin: 0 20px;
    background: rgb(202,172,228);
    background: radial-gradient(circle, rgba(202,172,228,0.35898109243697474) 0%, rgba(148,187,233,0.42620798319327735) 100%);
    font-family: 'Sorts Mill Goudy', serif;
}

h1 {
    font-size: 3vw;
    text-align: center;
}
#quote {
    font-style: italic;
    text-align: right;
    font-size: 1.8vw;
}

p {
    font-size: 1.5vw;
    text-align: justify;
}

#first-section {
    display: flex;
}
#article{
    width: 70%;
    margin-right: 3%;
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
#vincent-image {
    align-self: center;
    width: 85%;
}

#second-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 300px;
}

#second-section div {
    width: 30%;
    margin: 2%;
    height: 95%;
    border: 1px solid gray;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.link img {
    width: 55%;
    justify-self: center;
    align-self: center;
    margin-left: 25%;
}
a {
    text-decoration: none;
}

h2 {
    font-size: 180%;
    text-align: center;

}
h4 {
    text-align: center;
    font-size: 130%;
    text-decoration: none;
}

/* About file */

body {
    margin: 0 30px;
    background: rgb(202,172,228);
    background: radial-gradient(circle, rgba(202,172,228,0.35898109243697474) 0%, rgba(148,187,233,0.42620798319327735) 100%);
    font-family: 'Sorts Mill Goudy', serif;
}

h1 {
    font-size: 2.8vw;
    text-align: center;
}

h4 {
    font-size: 1.4vw;
    font-weight: 100;
    text-align: right;
    font-style: italic;
}

h3{
    font-size: 1.8vw;
    font-weight: 900;
}

p {
    font-size: 1.4vw;
    text-align: justify;
}

.images {
    width: 50%;
}

/* Gallery file */


body {
    margin: 0 20px;
    background: rgb(202,172,228);
    background: radial-gradient(circle, rgba(202,172,228,0.35898109243697474) 0%, rgba(148,187,233,0.42620798319327735) 100%);
    font-family: 'Sorts Mill Goudy', serif;
 }
 
 h1 {
    text-align: center;
 }
 #gallery {
     line-height:0;
     -webkit-column-count: 5; /* split it into 5 columns */
     -webkit-column-gap: 5px; /* give it a 5px gap between columns */
     -moz-column-count: 5;
     -moz-column-gap: 5px;
     column-count: 5;
     column-gap: 5px;
  }
 
  #gallery img {
     width: 100%;
     height: auto;
     margin-bottom: 5px; /* to match column gap */
     filter: grayscale(95%);
     transition: filter 0.5s;
  }
 
  #gallery img:hover {
 
     filter:none;
  }
 
  @media (max-width: 1200px) {
     #gallery {
      -moz-column-count:    4;
      -webkit-column-count: 4;
      column-count:         4;
     }
  }
 
  @media (max-width: 1000px) {
     #gallery {
      -moz-column-count:    3;
      -webkit-column-count: 3;
      column-count:         3;
     }
  }
 
  @media (max-width: 800px) {
     #gallery {
      -moz-column-count:    2;
      -webkit-column-count: 2;
      column-count:         2;
     }
  }
 
  @media (max-width: 400px) {
     #gallery {
      -moz-column-count:    1;
      -webkit-column-count: 1;
      column-count:         1;
     }
  }